input(accept=self.accept, accesskey=self.accesskey, align=self.align, alt=self.alt, 
      checked=self.checked, class=self.classes, dir=self.dir, disabled=self.disabled, 
      id=self.id, lang=self.lang, maxlength=self.maxlength, name=self.name, 
      readonly=self.readonly, size=self.size, src=self.src, style=self.style, 
      tabindex=self.tabindex, title=self.title, type=self.type, value=self.value)

