textarea(accesskey=self.accesskey, class=self.classes,
         cols=self.cols, dir=self.dir, disabled=self.disabled, 
         id=self.id, lang=self.lang, name=self.name
         rows=self.rows, readonly=self.readonly, title=self.title)= self.value

